streamlit~=1.46.1
pandas~=2.3.1
openpyxl
scikit-learn
matplotlib~=3.10.3
google-generativeai
python-docx
reportlab
pydantic~=2.11.7
langchain_core
langgraph~=0.5.2
langchain-google-genai
tabulate
python-dotenv~=1.1.1
seaborn~=0.13.2
numpy~=2.2.6
Markdown~=3.8.2
weasyprint~=65.1
libpango
